.idea/
PHJI.iml
target/
pain.humiliation.java.internetGetto.iml
PHJI/src/test/java/pain/humiliation/java/internetGetto/Calllka/tempSource/
PHJI\src\main\java\pain\humiliation\java\internetGetto\PetroKozak\task16\javadoc